<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Show categories</title>
    <link rel="stylesheet" href="../../../static/admin/categories/view/view_categories.css">
    <link rel="stylesheet" href="../../../static/admin/navbar.css">
    <link rel="stylesheet" href="../../../static/admin/sidebar.css">
</head>

<body>
{% include 'sidebar.html' %}

<div id="main-content">
    {% include 'navbar.html' %}

    <div id="content">
        <button onclick="location.href = '/admin/categories/add'" id="addUser">
            <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M3 6a2 2 0 0 1 2-2h5.532a2 2 0 0 1 1.536.72l1.9 2.28H3V6Zm0 3v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9H3Z"
                      clip-rule="evenodd"/>
            </svg>
            Dodaj nową kategorię
        </button>
        <input oninput="handleDataFilter()" type="text" id="filter" placeholder="Filtruj wyniki...">

        <table id="posts_table">
            <thead>
            <tr>
                <th>
                    <p class="headingp">Identyfikator </p>
                </th>
                <th>
                    <p class="headingp">Nazwa</p>
                </th>
                <th>
                    <p class="headingp">Opis</p>
                </th>
                <th>
                    <p class="headingp">Data stworzenia</p>
                </th>
                <th>
                    <p class="headingp">ID kategorii nadrzędna</p>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    <p>{{ category[0] }}</p>
                </td>
                <td>
                    <p>{{ category[1] }}</p>
                </td>
                <td>
                    <p>{{ category[2] }}</p>
                </td>
                <td>
                    <p>{{ category[3] }}</p>
                </td>
                <td>
                    <p>{{ category[4] }}</p>
                </td>
                <td>
                    <button onclick="location.href = '/admin/categories/edit?id={{ category[0] }}'" class="edit-button">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M11 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2v-5M16.414 3.586a2 2 0 112.828 2.828L10 15H6v-4l10.414-10.414z"/>
                        </svg>
                    </button>
                    <button onclick="location.href = '/admin/categories/delete?id={{ category[0] }}'" class="delete-button">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9 13h6m2 10H7a2 2 0 01-2-2V7h14v14a2 2 0 01-2 2zM10 7V4a2 2 0 012-2h0a2 2 0 012 2v3"/>
                        </svg>
                    </button>
                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<script>
    let lastLength = 0

    let handleDataFilter = () => {
        let tableRows = document.getElementsByTagName("tr")

        let query = document.getElementById("filter").value

        if (query.length < lastLength) {
            for (const row of tableRows) {
                row.style.display = "table-row"
            }

        }

        lastLength = query.length

        for (let x = 1; x <= tableRows.length - 1; x++) {
            let disableRow = true

            for (const children of tableRows[x].children) {
                if (children.textContent.toLowerCase().includes(query.toLowerCase())) {
                    disableRow = false
                }

            }

            if (disableRow) {
                tableRows[x].style.display = "none"
            }
        }
    }
</script>

</body>

</html>