<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../../../static/admin/users/add/admin_add_user.css">
    <link rel="stylesheet" href="../../../static/admin/navbar.css">
    <link rel="stylesheet" href="../../../static/admin/sidebar.css">
    <link rel="stylesheet" href="../../../static/admin/forms.css">

</head>

<body>
{% include 'sidebar.html' %}
<div id="main-content">
    {% include 'navbar.html' %}
    <div id="content">
        <form method="post" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <h3>Adding a New User</h3>
            {% for message in messages %}
            <div id="message">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>

                <p>{{ message }}</p>
            </div>
            {% endfor %}

            <p>First Name *</p>
            <input type="text" name="firstname" id="firstname" required>

            <p>Last Name *</p>
            <input type="text" name="lastname" id="lastname" required>

            <p>Email Address *</p>
            <input type="email" name="email" id="email" required>

            <p>Password *</p>
            <input type="password" name="pass" id="pass" required>

            <p>Permissions</p>
            <select name="permissions">
                <option value="3">Administrator</option>
                <option value="2">Author</option>
            </select><br>

            <input id="submitButton" type="submit" value="Add User">
        </form>
    </div>
</div>
</body>

</html>
