<!DOCTYPE html>
<html lang="{{ page_info[6] }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_info[0] }}</title>
    {% if page_info[1] %}
    <link rel="icon" href="/static/image_storage/{{ page_info[1] }}">
    {% endif %}
    <meta property="og:title" content="{{ page_info[2] }}">
    <meta name="description" content="{{ page_info[3] }}">
    <meta name="keywords" content="{{ page_info[4] }}">
    <meta name="robots" content="{{ page_info[5] }}">
    <link rel="stylesheet" href="../../static/index/quill_read.css">
    <link rel="stylesheet" href="../../static/index/custom_page.css">

</head>

<body>
<nav>
    <a href="/" class="nav-brand">{{ index_info[0] }}</a>
    <div class="nav-links">
        {% for page in pages_center %}
        <a href="/{{ page[2] }}">{{ page[1] }}</a>
        {% endfor %}
    </div>
    <div class="right-container">
        {% for page in pages_right %}
        <a href="/{{ page[2] }}">{{ page[1] }}</a>
        {% endfor %}
    </div>
</nav>

<div class="container">
    <div class="grid">
        {{ page_info[7]|safe }}
    </div>
</div>

</body>

</html>