<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Setup</title>
    <link rel="stylesheet" href="../static/setup/style2.css">
</head>

<body>
    <div id="main">
        <p>CMS został już skonfigurowany, aby przejść do panelu zarządzania kliknij przycisk poniżej.</p>
        <button id="continueButton" onclick="window.location.replace('/admin/login');">Kontynuuj</button>

    </div>
</body>

</html>