<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Setup</title>
    <link rel="stylesheet" href="../static/setup/create-first-account.css">
</head>

<body>
<div id="main">
    <form method="post" action="">
        <h3>Dodaj pierwsze konto do CMSA</h3>
        {% for msg in message %}
        <div id="message">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
        <p>Imie:</p>
        <input required name="firstname" id="firstname" type="text" placeholder="Jan">
        <p>Nazwisko:</p>
        <input required name="lastname" id="lastname" type="text" placeholder="Kowalski">
        <p>E-mail:</p>
        <input required name="email" id="email" type="email" placeholder="example@example.com">
        <p>Hasło:</p>
        <input required name="pass" id="pass" type="password" placeholder="******">
        <input id="submitButton" type="submit" value="Utwórz"/>
    </form>
</div>
</body>

</html>